@use "../../../styles/common/theme" as theme;
@use "../../../styles/common/mixins";

.details {
  &__rating {
    @include mixins.flex-align-center();
    color: theme.$text-extra;

    &__num {
      font-size: theme.$smaller_text;
      padding-top: 0.1rem;
    }
  }
}

.icons {
  &__rating {
    @include mixins.flex-align-center();

    svg {
      order: 1;
    }

    &__num {
      font-size: theme.$icons_number;
      padding-top: 0.15rem;
      order: 0;
    }
  }
}
