@use "../../../styles/common/theme" as theme;
.details {
  &__rating {
    display: flex;
    align-items: center;
    color: theme.$text-extra;

    &__num {
      font-size: 0.7rem;
      padding-top: 0.1rem;
    }
  }
}

.icons {
  &__rating {
    display: flex;
    align-items: center;

    svg {
      order: 1;
    }

    &__num {
      font-size: 0.95rem;
      padding-top: 0.15rem;
      order: 0;
    }
  }
}
