@use "../../../styles/common/theme" as theme;

.container {
  &__body {
    &__title {
      display: flex;
      align-items: center;
      gap: 1rem;
      font-size: 1.3rem;
      color: theme.$text;
      a {
        display: flex;
        align-items: center;
        color: theme.$text;
      }
    }
  }
}
