$border-radius: 0.7rem;
$light-gray: rgb(29, 30, 32);

$yellow: #f9d949;
$highlighter: #27e1c1;
$darker: #212a3e; // text
$dark-navy: #2a2f4f;
$dark-navy-2: #0e2954; // addtional text
$milk-navy: #3c486b;
$gray: #a7b3bc;
$bluish-gray: #dde6ed;
$bluish-gray-2: #eeeeee;
$bluish-gray-3: #f0f0f0;
