$border-radius: 0.7rem;
$light-gray: rgba(0, 0, 0, 0.2);

$text: #2c1338; // heading, body
$text-sub: #504157; // sub-heading,
$text-extra: #9c8ea3; // publishing, categories

// font-size

$title: 3rem;
$desc_title: 1.3rem;

$list_details: 1rem;
$modal_subtitle: 1rem;

$icons_number: 0.95rem; // pages, reviews

$modal_desc: 0.8rem; // desc & empty desc

$smaller_text: 0.7rem; // publishing info, rating in booklist, footer
$extra_small_text: 0.6rem; // categories, icons group
