$border-radius: 0.7rem;
$light-gray: rgb(29, 30, 32);

$text: #2c1338; // heading, body
$text-sub: #504157; // sub-heading,
$text-extra: #9c8ea3; // publishing, categories

// original
// $yellow: #f9d949;
// $highlighter: #27e1c1;
// $darker: #212a3e; // text
// $dark-navy: #2a2f4f;
// $dark-navy-2: #0e2954; // addtional text
// $milk-navy: #3c486b;
// $gray: #a7b3bc;
// $bluish-gray: #dde6ed;
// $bluish-gray-1: #dde0e1;
// $bluish-gray-2: #eeeeee;
// $bluish-gray-3: #f0f0f0;

$yellow: #ffde91;
$highlighter: #2c1338;
$darker: #504157; // text
$dark-navy-2: #0e2954; // addtional text
$milk-navy: #3c486b;
$gray: #504157;
$bluish-gray: #dde6ed;
$bluish-gray-1: #dde0e1;
$bluish-gray-2: #eeeeee;

// $purple: #2c1338;
// $beige: #fce5db;
// $yel: #ffde91;
// $highlighter: #ff8971;
