.form {
  display: flex;
  // align-items: center;
  // gap: 1rem;
  height: 2rem;
}

.input {
  width: 200px;
  border-radius: 0.7rem;
  border: 1px solid gray;
  padding: 0 0.7rem;
}

.button {
  // padding: 0.5rem 0.2rem;
  // background-color: darkgray;
  background-color: transparent;
  border: 0;
}

// .buttonImg {
//   padding: 0.5em 0.2em;
//   height: 100%;
// }
