@use "../../styles/common/mixins";

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.5rem;

  @include mixins.smaller-than-small {
    flex-direction: column;
    transform: scale(0.8);
  }
}
