@use "../../../styles/common/theme" as theme;

.details {
  &__categories {
    &__item {
      display: inline;
      padding: 0.3rem 0.5rem;
      border: 1px solid theme.$text-extra;
      border-radius: 1rem;
      color: theme.$text-extra;
      font-size: 0.6rem;
    }
    // margin: 1rem 0;
  }
}
