@use "../../styles/common/mixins";

.landing {
  width: 100%;
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container {
  @include mixins.flex-column(2rem);
}
