@use "../../styles/common/mixins" as mixins;
@use "../../styles/common/theme" as theme;

.container {
  @include mixins.flex-column(2rem);
  width: 100%;
  overflow-y: scroll;

  // font-family: "Inter", sans-serif;
  // font-family: "Montserrat", sans-serif;
  // font-family: "Open Sans", sans-serif;
  // font-family: "Raleway", sans-serif;
  font-family: "Roboto", sans-serif;

  &__header {
    display: flex;
    gap: 2rem;

    @include mixins.book_content(1.5rem);

    .details {
      &__titles {
        margin-bottom: 1rem;
        &__title {
          color: theme.$text;
        }
        &__subtitle {
          color: theme.$text-sub;
          font-size: 1.2rem;
        }
      }
    }
  }

  &__body {
    @include mixins.flex-column();

    box-sizing: border-box;

    &__desc {
      font-size: 0.8rem;
      color: theme.$text;
      &__empty {
        font-size: 0.8rem;
        // color: theme.$text;
      }
    }
  }
}
