@use "../../../styles/common/mixins";
@use "../../../styles/common/theme" as theme;

.pics {
  margin: 0;
  &__img {
    width: 120px;
    border-radius: 0.2rem;
    box-shadow: 9px 9px 15px rgba(0, 0, 0, 0.2);
  }
  &__hidden {
    display: none;
  }

  @include mixins.smaller-than-small {
    margin: 0 auto;
  }
}

.pics__list {
  @include mixins.thumbnail(100%);
  width: 100%;
  display: flex;
  justify-content: center;

  &__img {
    display: block;
    width: 100%;

    border-radius: 0.7rem;
    margin-bottom: 0.5rem;

    &__placeholder {
      border-radius: 0.7rem;
      margin-bottom: 0.5rem;
      width: 100%;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid rgba(theme.$light-gray, 0.5);
      color: rgba(theme.$light-gray, 0.5);

      // @include mixins.light-gray-bg(0.5);
    }

    &:hover {
      opacity: 0.5;
    }
  }
}
